
/*------------------------------------
    Calendar v2.0
------------------------------------*/

.afc-calendar-week__day ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.afc-calendar-week__day ul li {
    height: 32px;
    color: var(--secondary);
    cursor: pointer;
    display: block;
    max-width: 120px;
    font-size: 12px;
    font-weight: 700;
    line-height: 32px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    border: 2px solid transparent;
}

.afc-calendar-week__day ul li:not(.selected):not(.booked):not(.disable):hover {
    border-color: var(--secondary);
}

.afc-calendar-week__day .booked {
    color: #ccc;
    cursor: no-drop;
}

.afc-calendar-week__day .selected {
    color: #fff;
    border-color: #ff7b18;
    background-color: orangered;
}

.afc-calendar-week__day .afc-calendar-week__hover {
    top: -4px;
    right: 80%;
    width: 120px;
    color: #eee;
    z-index: 1;
    position: absolute;
    padding-top: 12px;
    border-radius: 6px;
    opacity: 0;
    visibility: hidden;
    background-color: #717f94;
    box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
    transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
}

.afc-calendar-week__day .afc-calendar-week__hover span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1;
    margin-bottom: 12px;
}

.afc-calendar-week__day .afc-calendar-week__hover:before,
.afc-calendar-week__day .afc-calendar-week__hover:after {
    top: 14px;
    right: -4px;
    width: 8px;
    height: 8px;
    content: "";
    position: absolute;
    background-color: #717f94;
    transform: rotate(45deg);
}

.afc-calendar-week__day .afc-calendar-week__hover:after {
    right: -3px;
    background-color: #717f94;
}

.afc-calendar-week__day .afc-calendar-week__hover span:first-child {
    font-size: 11px;
}

.afc-calendar-week__day:last-child .afc-calendar-week__hover:before,
.afc-calendar-week__day:nth-child(6) .afc-calendar-week__hover:before {
    left: -4px;
    right: inherit;
}

.afc-calendar-week__day:last-child .afc-calendar-week__hover:after,
.afc-calendar-week__day:nth-child(6) .afc-calendar-week__hover:after {
    left: -3px;
    right: inherit;
}

.afc-calendar-week__day li:hover .afc-calendar-week__hover {
    opacity: 1;
    visibility: visible;
}

.afc-calendar-week__day:last-child .afc-calendar-week__hover,
.afc-calendar-week__day:nth-child(6) .afc-calendar-week__hover {
    left: 80%;
    right: inherit;
}

/**
 * Calendar
 */
.afc-calendar {
    z-index: 1;
    position: relative;
}

.afc-calendar-body {
    min-height: 60px;
    position: relative;
}

/**
 *
 */
.afc-calendar-week {
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
    padding-bottom: 60px;
    justify-content: center;
}

.afc-calendar-week__day {
    flex: 0 0 14.285714286%;
    max-width: 14.285714286%;
    font-size: 12px;
    text-align: center;
    padding: 0 6px;
}

.afc-calendar-week__date {
    padding: 15px 0 25px;
    border-top: 4px solid orange;
}

.afc-calendar-week__date span {
    display: block;
    font-size: 0.96em;
    font-weight: 700;
    margin-bottom: 6px;
}

.afc-calendar-week__date span:last-child {
    font-size: 14px;
    font-weight: 700;
}

/**
 * Other
 */
.button {
    z-index: 3;
    position: relative;
    display: inline-block;
}

.button span {
    display: block;
}

.button-xx {
    height: 58px;
    border-radius: 6px;
}

.button.disable {
    color: #eee !important;
    cursor: not-allowed !important;
    background-color: #888 !important;
}

.button-default {
    background-color: #eee;
}

/**
 * Modal
 */
.el-modal.modal-x2 {
    width: 1200px;
}

.el-modal.modal-x2 .modal-body {
    padding: 30px 30px 0;
}

.el-modal.modal-x2 .modal-body > div {
    /* height: calc(100vh - 160px); */
    height: calc(100vh - 220px);
    position: relative;
}

@media (max-width: 1200px) {
    .el-modal.modal-x2 {
        width: 100% !important;
        max-width: 100% !important;
        border-radius: 0 !important;
    }

    .el-modal.modal-x2 .modal-body {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    [data-modal-id="modal-afc-stepper-calendar"] .modal-head {
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
        border: 0 !important;
    }
    [data-modal-id="modal-afc-stepper-calendar"] .modal-head .modal-title {
        font-size: 10px;
        line-height: 30px;
        display: none;
    }
    [data-modal-id="modal-afc-stepper-calendar"] .modal-head .modal-close  {
        color: red;
        height: 30px;
        left: 3px;
        line-height: 30px;
    }
    [data-modal-id="modal-afc-stepper-calendar"] .modal-body > div {
        height: 100vh !important;
    }
    [data-modal-id="modal-afc-stepper-calendar"] .modal-wrapper {
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        width: 100% !important;
        transform: translate(0, 0) !important;
    }
}

@media (max-width: 768px) {
    .el-modal.modal-x2 .modal-head {
        height: 40px;
        border: 0;
    }

    .el-modal.modal-x2 .modal-head .modal-title {
        font-size: 12px;
        line-height: 40px;
    }

    .el-modal.modal-x2 .modal-head .modal-close {
        width: 54px;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
    }

    .el-modal.modal-x2 .modal-body {
        padding-top: 6px;
    }
}

/*------------------------------------
    Carousel v2.0
------------------------------------*/

.afc-carousel {
    position: relative;
}

/**
 * Carousel - Navigation
 */

.afc-carousel .afc-carousel__prev,
.afc-carousel .afc-carousel__next {
    top: 0;
    z-index: 15;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    white-space: nowrap;
}

.afc-carousel .afc-carousel__prev i,
.afc-carousel .afc-carousel__next i {
    top: 1px;
    font-size: 15px;
    position: relative;
}

.afc-carousel .afc-carousel__prev {
    right: 0;
    text-align: right;
}

.afc-carousel .afc-carousel__prev i {
    margin-left: 6px;
}

.afc-carousel .afc-carousel__next {
    left: 0;
    text-align: left;
}

.afc-carousel .afc-carousel__next i {
    margin-right: 6px;
}

.afc-carousel .afc-carousel__prev.inactive,
.afc-carousel .afc-carousel__next.inactive {
    color: #ccc;
    border-color: #e1e1e1;
}

.afc-carousel .afc-carousel__prev.disabled,
.afc-carousel .afc-carousel__next.disabled {
    cursor: no-drop;
    opacity: 0.3;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.afc-carousel .afc-carousel__prev.disabled {
    /* opacity: 0;
  visibility: hidden; */
}

/**
 * Carousel - Wrapper
 */

.afc-carousel .afc-carousel__wrapper {
    position: relative;
}

.afc-carousel .afc-carousel__wrapper .afc-carousel__slide {
    top: 0;
    left: -100%;
    right: 100%;
    opacity: 0;
    display: none;
    position: absolute;
    visibility: hidden;
    transition: all 270ms;
}

.afc-carousel .afc-carousel__wrapper .afc-carousel__slide.active {
    left: 0 !important;
    right: 0 !important;
    opacity: 1 !important;
    display: block !important;
    position: relative !important;
    visibility: visible !important;
}

.afc-carousel .afc-carousel__wrapper .afc-carousel__slide .afc-carousel__slide__title {
    width: 100%;
    height: 45px;
    display: block;
    text-align: center;
}

/*------------------------------------
    Stepper v2.0
------------------------------------*/

.afc-stepper {
    width: 100%;
    height: 100vh;
    overflow: initial !important;
    position: absolute;
}

.afc-stepper > .container {
    height: 100%;
    position: relative;
    overflow: initial !important;
}

.afc-stepper .afc-selected-times {
    /* TODO: needs to recheck/remove selected-items from main-scripts.js file. */
    display: none !important;
}

/**
 * Stepper - Card
 */

.afc-stepper .el-card {
    padding: 15px 30px;
    text-align: right;
    margin-bottom: 12px;
    border: 1px solid #eee;
    box-shadow: none !important;
}

.afc-stepper .el-card:hover {
    border-color: #bbb;
}

.afc-stepper .el-card.active {
    border-color: var(--primary) !important;
    background-color: #fdf4e4;
    box-shadow: 0 0 1px 0 var(--primary) !important;
}

.afc-stepper .el-card:not(.active) {
    cursor: pointer;
}

.afc-stepper .el-card .afc-stepper__content__price {
    top: 15px;
    left: 23px;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
}

.afc-stepper .el-card .afc-stepper__content__title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
}

.afc-stepper .el-card .afc-stepper__content__title small {
    color: #999;
}

.afc-stepper .el-card .afc-stepper__content__subtitle {
    font-size: 14px;
    font-weight: 200;
}

/**
 * Stepper - Content
 */
.afc-stepper .afc-stepper__content {
    width: 100%;
    height: calc(100% - 240px);
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    padding: 0 3px 30px;
}

.afc-stepper .afc-stepper__content::-webkit-scrollbar {
    width: 6px;
}

.afc-stepper .afc-stepper__content::-webkit-scrollbar-track {
    background: #fff;
}

.afc-stepper .afc-stepper__content::-webkit-scrollbar-thumb {
    background: #eee;
}

.afc-stepper .afc-stepper__content .afc-stepper__content__heading {
    font-size: 16px;
    font-weight: 600;
    text-align: right;
    margin-bottom: 30px;
}

/**
 * Stepper - Wrapper
 */

.afc-stepper .afc-stepper__wrapper {
    height: 100%;
    position: relative;
}

.afc-stepper .afc-stepper__wrapper .afc-stepper__step:not(.active) {
    display: none;
}

/**
 * Stepper - Footer
 */

.afc-stepper__footer {
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 3;
    position: absolute;
    padding-bottom: 9px;
}
.afc-stepper__footer [data-chain-id] {
    left: 0;
    bottom: 9px;
    position: absolute;
}
.afc-stepper__footer [data-chain-id]:not(.active) {
    display: none;
}

/**
 * Stepper - Tracker
 */

.afc-stepper .afc-stepper__tracker {
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;
}

.afc-stepper .afc-stepper__tracker:after {
    right: 0;
    top: 15px;
    width: 100%;
    height: 2px;
    content: "";
    opacity: 0.3;
    position: absolute;
    background-color: #cbd5e0;
}

.afc-stepper .afc-stepper__tracker > div {
    width: 32px;
    cursor: pointer;
    z-index: 12;
    position: relative;
}

.afc-stepper .afc-stepper__tracker .afc-stepper__tracker__number {
    width: 32px;
    height: 32px;
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    background: #cbd5e0;
    margin-bottom: 9px;
}

.afc-stepper .afc-stepper__tracker .afc-stepper__tracker__heading {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: #cbd5e0;
    display: block;
    font-size: 12px;
    font-weight: 600;
}

.afc-stepper .afc-stepper__tracker .active .afc-stepper__tracker__number {
    color: #fff;
    background-color: var(--secondary);
}

.afc-stepper .afc-stepper__tracker .active .afc-stepper__tracker__heading {
    color: var(--secondary);
}

[data-step-to="2"] .afc-stepper__tracker__heading {
    left: 21px;
    position: relative;
}

[data-step-to="3"] .afc-stepper__tracker__heading {
    left: 25px;
    position: relative;
}

/*------------------------------------
    Selected Times
------------------------------------*/

/**
 * Stepper - Selected Items
 */

 .afc-stepper .afc-selected-times {
     right: 0;
     bottom: 120px;
     width: 100%;
     height: 100px;
    position: absolute;
    background-color: #fff;
}
/**
 * Selected Times: List Items
 */

 .afc-selected-times ul {
    list-style: none;
    padding: 6px 0 0;
    margin: 0;
}

.afc-selected-times ul li {
    cursor: pointer;
    font-size: 10px;
    display: inline-block;
    position: relative;
    padding: 6px 15px;
    margin-left: 3px;
    margin-bottom: 6px;
    border-radius: 60px;
    background-color: #eee;
}

.afc-selected-times ul li .afc-selected-times__close {
    top: 1px;
    position: relative;
    margin-left: 9px;
}

.afc-selected-times ul li .afc-selected-times__value {
    opacity: 0.6;
}

.afc-selected-times ul li:hover {
    color: red;
}

.afc-selected-times ul li:hover .afc-selected-times__value,
.afc-selected-times ul li:hover .afc-selected-times__close {
    opacity: 1;
}
/*
 * Selected: Title
*/
.afc-selected-times .afc-selected-times__title {
    display: none;
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 9px;
}

.afc-selected-times .afc-selected-times__with {
    height: 48px;
    font-size: 12px;
    position: relative;
    padding-right: 63px;
    margin-bottom: 6px;
}

.afc-selected-times .afc-selected-times__with img {
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 3px 6px 0 rgba(140, 152, 164, 0.25) !important;
}

.afc-selected-times .afc-selected-times__with .afc-selected-times__with__title {
    display: block;
    font-weight: 700;
    padding-top: 3px;
    margin-bottom: 6px;
}

.afc-selected-times .afc-selected-times__with .afc-selected-times__with__subtitle {
    color: #999;
    text-align: right;
}

/* 
 * Selected: Items
*/
.afc-selected-times__items {
    left: 15px;
    right: 15px;
    bottom: 50px;
    position: absolute;
    text-align: right;
}
/* 
 * Selected: Teacher
*/
.afc-selected-times__teacher {
    right: 0;
    bottom: 0;
    height: 48px;
    position: absolute;
    display: inline-block;
}
/* 
 * Selected: Mobile
*/
.afc-selected-times__mobile {
    left: 0;
    bottom: 40px;
    height: 60px;
    z-index: 999;
    color: var(--secondary);
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
}

.afc-selected-times__mobile .afc-selected-times__mobile__button:not(.active) {
    display: none;
}

.afc-selected-times__mobile .afc-selected-times__mobile__button span {
    padding-top: 2px;
    display: block;
}

.afc-selected-times__mobile__modal {
    top: 15px;
    left: 15px;
    right: 15px;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    margin: auto;
    padding: 15px;
    z-index: 9999999999;
}

.afc-selected-times__mobile__modal.active {
    opacity: 1;
    visibility: visible;
}

.afc-selected-times__mobile__modal:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    content: "";
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
}

.afc-selected-times__mobile__modal > div {
    z-index: 1;
    padding: 20px;
    position: relative;
    border-radius: 12px;
    background-color: #fff;
    border: 3px solid orange;
    box-shadow: 0 3px 6px 0 rgba(140, 152, 164, 0.95) !important;
}

.afc-selected-times__mobile__modal > div > span {
    color: red;
    float: left;
    font-size: 12px;
}

.afc-selected-times__mobile__modal > div > p {
    font-size: 12px;
    display: inline-block;
}

.afc-selected-times__mobile__modal__list {
    height: 270px;
    overflow-y: auto;
}

.afc-selected-times__mobile__modal__list li {
    cursor: pointer;
    font-size: 10px;
    display: inline-block;
    position: relative;
    padding: 6px 15px;
    margin-left: 3px;
    margin-bottom: 6px;
    border-radius: 60px;
    background-color: #eee;
}

.afc-selected-times__mobile__modal__list li .afc-selected-times__close {
    top: 1px;
    position: relative;
    margin-left: 9px;
}

.afc-selected-times__mobile__modal__list li .afc-selected-times__value {
    opacity: 0.6;
}

.afc-selected-times__mobile__modal__list li:hover .afc-selected-times__value,
.afc-selected-times__mobile__modal__list li:hover .afc-selected-times__close {
    opacity: 1;
}

@media (max-width: 1200px) {
    .afc-stepper__footer {
        bottom: 15px;
        position: sticky !important;
    }
}

@media ( min-width: 1201px) {
    .afc-stepper__content {
        height: calc(100% - 300px) !important
    }
}

@media (min-width: 992px ) and ( max-width: 1200px) {
    .afc-stepper__content {
        height: calc(100% - 240px) !important
    }
}
@media (min-width: 768px ) and ( max-width: 992px) {
    .afc-stepper__content {
        height: calc(100% - 240px) !important
    }
}
@media (max-width: 992px) {
    .button[data-step-to="2"],
    .afc-stepper__footer [data-chain-id] {
        width: 100% !important;
        font-size: 12px !important;
    }

    .button[data-step-to="3"] {
        width: 49% !important;
        float: left;
        font-size: 12px !important;
        margin: 0;
        margin-right: 1%;
    }

    [data-chain-id="3"] .button {
        width: 100%;
    }
    .afc-selected-times__mobile {
        bottom: 45px !important;
        display: block;
    }
    .afc-selected-times__teacher {
        bottom: 60px;
    }
}
@media (max-width: 768px) {
    .afc-stepper__content {
        height: calc(100% - 270px) !important
    }
    /* .afc-stepper > .container {
        height: calc(100% - 180px) !important;
    } */
    .afc-stepper__footer {
        height: 100px;
        overflow: hidden;
        background-color: #fff;
    }
    .afc-stepper__footer [data-chain-id] {
        bottom: 0;
    }
    .afc-selected-times__mobile {
        bottom: 25px !important;
        display: block;
    }
    .afc-selected-times__teacher {
        bottom: 40px;
        background-color: #fff;
    }
    .afc-selected-times__teacher .afc-selected-times__with {
        font-size: 10px !important;
        padding-right: 60px !important;
    }
    .afc-selected-times__teacher .afc-selected-times__with img {
        right: 6px !important;
        width: 40px !important;
        height: 40px !important;
    }
}

/*------------------------------------
    Auth
------------------------------------*/

.afc-auth {
    width: 480px;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
}

/**
 * Auth - Panel
 */
.afc-auth .afc-auth__panel {
    display: none;
}

.afc-auth .afc-auth__panel.active {
    display: block;
}

.afc-auth .afc-auth__panel .afc-auth__panel__inner {
    padding: 20px 25px;
    border-radius: 6px;
    position: relative;
    border: 1px solid #eee;
    background-color: #fff;
}

.afc-auth .afc-auth__panel .afc-auth__panel__info {
    text-align: center;
}

.afc-auth .afc-auth__panel .afc-auth__panel__info p {
    font-size: 12px;
    text-align: center;
    padding-top: 15px;
}

.afc-auth .afc-auth__panel .afc-auth__panel__info p a {
    color: var(--secondary);
    margin: 0 3px;
}

/**
 * Auth - Head
 */
.afc-auth .afc-auth__head {
    height: 50px;
    position: relative;
}

.afc-auth .afc-auth__head .afc-form__head__title {
    font-size: 16px;
    font-weight: 600;
}

.afc-auth .afc-auth__head .afc-form__head__close {
    top: 0;
    left: 0;
    width: 40px;
    line-height: 1;
    text-align: left;
    cursor: pointer;
    display: block;
    font-size: 18px;
    border: 0;
    outline: 0;
    position: absolute;
    padding: 6px 0 15px;
}

/**
 * Auth - body
 */
.afc-auth .afc-auth__body {
    position: relative;
}

/**
 * Auth - Buttons
*/

.afc-auth .button-custom {
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

.afc-auth .button-custom:hover,
.afc-auth .button-custom.active {
    color: #fff;
    background-color: var(--secondary);
}

/*------------------------------------
    Form v2
------------------------------------*/

.afc-form {
    overflow: hidden;
    position: relative;
}

.afc-form .afc-form__item {
    position: relative;
    margin-bottom: 20px;
}

.afc-form .afc-form__item .afc-form__item__input {
    width: 100%;
    height: 58px;
    display: block;
    position: relative;
    font-size: 14px;
    padding-top: 6px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 6px;
    border: 1px solid #e2e8f0;
}

.afc-form .afc-form__item .afc-form__item__label {
    top: 19px;
    right: 25px;
    color: #999;
    font-size: 15px;
    position: absolute;
    display: inline-block;
    background: #fff;
}

.afc-form .afc-form__item .afc-form__item__subtitle {
    width: 100%;
    height: 30px;
    color: #666;
    display: block;
    font-size: 12px;
    padding-top: 6px;
}

.afc-form .afc-form__item--mobile .afc-form__item__input {
    direction: ltr;
    text-align: left;
}

.afc-form .afc-form__item--mobile .afc-form__item--mobile__prefix {
    top: 8px;
    left: 0;
    width: 120px;
    z-index: 12;
    font-size: 12px;
    line-height: 46px;
    overflow: hidden;
    position: absolute;
}

.afc-form .afc-form__item--mobile .afc-form__item--mobile__prefix .select2-container--default .select2-selection--single .select2-selection__rendered,
.afc-form .afc-form__item--mobile .afc-form__item--mobile__prefix .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #000 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.afc-form .afc-form__item--mobile .afc-form__item--mobile__prefix .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px !important;
    left: 25px !important;
    right: inherit !important;
    width: 20px;
    height: 26px !important;
    position: absolute !important;
}

.afc-flag {
    text-align: left;
    position: relative;

    padding-left: 40px;
}

.afc-flag img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.select2-results__options .afc-flag {
    padding-top: 6px;
}

.select2-results__options .afc-flag img {
    top: 4px;
    left: 9px;
    position: absolute;
}

.select2-selection__rendered .afc-flag img {
    top: -4px;
    display: inline;
    position: relative;
    margin: inherit;
    margin-right: 9px;
}

/**
 * Try Again
*/
.afc-try-again {
    text-align: center;
}

.afc-try-again .afc-try-again__timer {
    display: block;
}

.afc-try-again .afc-try-again__button {
    width: 100%;
    height: 51px;
    line-height: 51px;
    display: none;
    text-align: center;
    font-size: 12px;
    color: var(--primary);
    cursor: pointer;
    font-weight: 700;
}

.afc-try-again.active .afc-try-again__timer {
    display: none;
}

.afc-try-again.active .afc-try-again__button {
    display: block;
}

.afc-auth__panel:not(.active) {
    display: none;
}

.afc-btn-edit-mobile-number {
    text-align: center;
}

.afc-btn-edit-mobile-number p {
    color: var(--secondary) !important;
    text-align: center;
    border-bottom: 1px dashed var(--secondary) !important;
}

@media (max-width: 992px) {
    .afc-form__head__title {
        font-size: 12px !important;
    }
    .afc-auth .afc-auth__panel .afc-auth__panel__inner {
        padding-left: 15px;
        padding-right: 15px;
    }
    .afc-form .afc-form__item .afc-form__item__label {
        top: -8px;
        font-size: 12px;
    }
}


/*------------------------------------
    Button
------------------------------------*/

.button-loading {
    overflow: hidden;
    position: relative;
}
.button-loading .button-loading_preloader {
    top: 19px;
    left: 0;
    right: 0;
    width: 24px;
    height: 24px;
    margin: auto;
    display: inline-block;
    display: none !important;
    position: absolute;
    display: inline-block;
}
.button-loading .button-loading_preloader div {
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 1px;
    background-color: #fff;
    animation: preloader-7 1.2s linear infinite;
}
.button-loading .button-loading_preloader div:nth-child(1) {
    animation: preloader-7 600ms linear infinite;
}
.button-loading .button-loading_preloader div:nth-child(2) {
    animation: preloader-7 1500ms linear infinite;
}
.button-loading .button-loading_preloader div:nth-child(3) {
    animation: preloader-7 900ms linear infinite;
}
@keyframes preloader-7 {
    0% {
        opacity: .1;
    }
    100% {
        opacity: 1;
    }
}
.button.disable,
.button-loading.loading {
    pointer-events: none;
}
.button-loading.loading span {
    display: none;
}
.button-loading.loading .button-loading_preloader {
    display: inline-block !important;
}

@media (max-width: 1200px) {
    .afc-stepper__tracker {
        top: 30px !important;
        left: 0 !important;
        right: 0 !important;
        width: inherit !important;
        position: fixed !important;
        padding-left: 15px;
        padding-right: 15px;
    }
    .afc-stepper__tracker:after {
        left: 15px !important;
        right: 15px !important;
        width: initial !important;
    }
    .afc-stepper__wrapper {
        top: 90px;
    }
}
@media (max-width: 992px) {
    .afc-stepper__content {
        width: 100%;
    }
    .afc-stepper > .container {
        width: 96%;
        max-width: 100%;
        margin: auto;
    }

    .afc-selected-times .afc-selected-times__items {
        display: none;
    }
}

@media (max-width: 768px) {
    .afc-stepper__content {
        width: 100%;
    }
    .afc-selected-times .afc-selected-times__title {
        display: none;
    }

    .afc-stepper .container {
        width: 100% !important;
        padding: 0;
    }

    .afc-stepper p {
        font-size: 12px;
    }

    .afc-stepper .el-card {
        padding: 15px 20px;
    }

    .afc-stepper .afc-stepper__tracker {
        top: 0;
        height: 66px;
        padding-top: 0;
        overflow: hidden;
        margin-bottom: 0;
    }

    .afc-stepper .afc-stepper__tracker:after {
        top: 15px;
    }

    .afc-stepper .afc-stepper__content {
        padding-bottom: 120px;
    }

    .afc-stepper .el-card {
        margin-bottom: 6px;
    }

    .afc-stepper .el-card .afc-stepper__content__price {
        top: 15px;
        left: 20px;
        font-size: 12px;
    }

    .afc-stepper .el-card .afc-stepper__content__title {
        font-size: 11px;
    }

    .afc-stepper .el-card .afc-stepper__content__subtitle {
        font-size: 10px;
    }

    .afc-stepper .afc-stepper__tracker .afc-stepper__tracker__heading {
        font-size: 10px;
    }

    .afc-stepper .afc-stepper__content .afc-stepper__content__heading {
        font-size: 12px;
        text-align: center !important;
        margin-bottom: 10px;
    }

    .afc-stepper .afc-stepper__content {
        height: calc(100% - 220px);
    }

    /* Calendar */
    .afc-calendar-week__day {
        padding: 0 1px;
    }

    .afc-calendar-week__date span {
        white-space: nowrap;
        font-size: 10px !important;
    }

    .afc-carousel__title {
        font-size: 11px;
    }

    .afc-stepper .afc-stepper__content::-webkit-scrollbar {
        width: 1px;
    }

    .afc-calendar-week__day .afc-calendar-week__hover {
        width: 100px;
    }

    .afc-calendar-week__day .afc-calendar-week__hover span {
        font-size: 9px !important;
    }

    .afc-carousel .afc-carousel__prev,
    .afc-carousel .afc-carousel__next {
        font-size: 10px;
    }

    .afc-calendar-week__day .afc-calendar-week__hover {
        right: 100%;
    }

    .afc-calendar-week__day:last-child .afc-calendar-week__hover,
    .afc-calendar-week__day:nth-child(6) .afc-calendar-week__hover {
        left: 100%;
        right: inherit;
    }
}
/*  */
:root {
    --text-color: #666;
}
.text-secondary {
    color: var(--secondary) !important;
}
/* 
* Tags
*/
.afc-tag {
    color: #fff;
    font-size: 14px;
    line-height: 1;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 4px;
    background-color: var(--secondary);
    box-shadow: 0 0 6px 0 rgba(140, 152, 164, 0.25);
}
.afc-label {
    color: #fff;
    font-size: 12px;
    display: inline-block;
    padding: 8px 6px;
    border-radius: 4px;
}
.afc-label--danger {
    color: rgb(255, 102, 0);
    background-color: rgba(255, 0, 0, .1);
}
.afc-label--primary {
    color: var(--primary);
    background-color: rgba(246, 147, 28, .1);
}
.afc-label--secondary {
    color: var(--secondary);
    background-color: rgba(104, 165, 28, .1);
}
/* 
 * Teacher
*/
.afc-teacher {
    /* font-family: iranyekan; */
    position: relative;
    padding: 45px 0;
    margin-top: 110px;
    margin-bottom: 60px;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(140, 152, 164, 0.25);
}
.afc-teacher ul {
    user-select: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
.afc-teacher ul li {
    display: inline-block;
}
.afc-teacher .container {
    position: relative;
}
/* 
 * Teacher: Avatar
*/
.afc-teacher .afc-teacher_avatar {
    width: 97%;
    overflow: hidden;
    text-align: center;
    border-radius: 50%;
    background-color: #eee;
    box-shadow: 0 3px 6px 0 rgba(140, 152, 164, 0.25);
    margin: auto;
}
/* 
 * Teacher: Details
*/
.afc-teacher .afc-teacher_details {
    overflow: hidden;
    position: relative;
    padding-top: 0;
    padding-right: 30px;
}
.afc-teacher .afc-teacher_details h1 {
    font-size: 36px;
}
.afc-teacher .afc-teacher_details .afc-tag {
    top: 9px;
    left: 0;
    position: absolute;
}
.afc-teacher .afc-label {
    top: 0;
    right: 20px;
    position: absolute;
}
/* 
* Teacher: Stars
*/
.afc-teacher_stars {
    top: 0;
    left: 20px;
    direction: ltr;
    text-align: left;
    position: absolute;
    margin: 6px 0 0;
}
.afc-teacher_stars ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.afc-teacher_stars ul li {
    color: #999;
    font-size: 14px;
    display: inline-block;
}
.afc-teacher_stars ul li .active {
    color: orange;
}
/* 
* Teacher: Stats
*/
.afc-teacher_stats {
    padding-top: 15px;
    border-top: 1px solid #eee;
}
.afc-teacher_stats ul {
    display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: stretch;
	align-content: stretch;   
	justify-content: space-between;
}
.afc-teacher_stats .item {
    position: relative;
    padding-right: 60px;
}
.afc-teacher_stats .item .line {
    top: 9px;
    left: -40%;
    width: 1px;
    height: 30px;
    position: absolute;
    background-color: #eee;
}
.afc-teacher_stats .item .title {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 4px;
}
.afc-teacher_stats .item .subtitle {
    color: #999;
    font-size: 12px;
}
.afc-teacher_stats .item .icon {
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    position: absolute;
    text-align: center;
    padding-top: 6px;
    border-radius: 6px;
    background-color: #f9f9f9;
}
.afc-teacher_stats .item .icon img {
    width: 30px;
    height: 30px;
}
/* 
* Teacher: Lists
*/
.afc-teacher_lists-title {
    position: relative;
}
.afc-teacher_lists-title i {
    top: 6px;
    right: 0;
    font-size: 16px;
    position: absolute;
    display: none;
}
.afc-teacher_lists-title .title {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 9px;
}
/* 
* Teacher: Flags
*/
.afc-teacher_flags {
    margin-bottom: 45px;
}
.afc-teacher_flags ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.afc-teacher_flags ul li {
    display: inline-block;
}
.afc-teacher_flags ul li img {
    width: 30px;
    height: 30px;
    float: right;
    overflow: hidden;
    font-weight: 800;
    margin-left: 10px;
    border-radius: 50%;
    box-shadow: 0 3px 6px 0 rgba(140, 152, 164, 0.25);
}
.afc-teacher_flags ul li span {
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.03em;
    display: inline-block;
}
/* 
* Teacher: Skills
*/
.afc-teacher_skills {
    margin-bottom: 15px;
}
.afc-teacher_skills ul {
    list-style: none;
    user-select: none;
    padding: 0;
    margin: 0;
}
.afc-teacher_skills ul li {
    color: #666;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    background-color: #f9f9f9;
    padding: 9px 12px;
    border-radius: 6px;
    margin-bottom: 6px;
}
.afc-teacher_skills ul li a {
    display: block;
}
@media (max-width: 1200px) {
    .afc-teacher .afc-teacher_details h1 {
        font-size: 30px;
    }
    .afc-teacher_flags {
        margin-bottom: 30px;
    }
    .afc-teacher_flags ul li span {
        font-size: 14px;
    }
    .afc-teacher_stats .item .title {
        font-size: 14px;
    }
}
@media (max-width: 992px) {
    .afc-teacher .afc-teacher_details {
        padding: 0;
    }
    .afc-teacher .afc-teacher_avatar {
        width: 300px !important;
        height: 300px !important;
        margin-bottom: 30px;
    }
    .afc-teacher .afc-teacher_details h1 {
        text-align: center;
    }
    .afc-teacher_flags {
        text-align: center;
    }
}
@media (max-width: 768px) {
    .afc-teacher { 
        padding: 30px 0 15px;
        margin-top: 90px;
        margin-bottom: 30px;
    }
    .afc-teacher_stats ul {
        display: block;
    }
    .afc-teacher_stats ul li {
        width: 100%;
        display: block;
        margin-bottom: 30px;
    }
    .afc-teacher .afc-teacher_details h1 {
        font-size: 24px;
    }
}
@media (max-width: 570px) {

}
/* 
* Text Slider
*/
.afc-text-slider .afc-text-slider_content {
    overflow: hidden;
}
.afc-text-slider .afc-text-slider_collapser {
    color: var(--primary);
    cursor: pointer;
    display: block;
    font-weight: 700;
    padding-top: 15px;
}
.afc-text-slider .afc-text-slider_collapser i {
    top: 2px;
    position: relative;
    margin-right: 3px;
}

.afc-text-slider .afc-text-slider_collapser_more-text {
    display: none;
}
.afc-text-slider.collapsed .afc-text-slider_collapser_more-text {
    display: inline-block;
}
.afc-text-slider.collapsed .afc-text-slider_collapser_less-text{
    display: none;
}
.afc-text-slider.collapsed .afc-text-slider_content {
    height: 78px;
}
@media (max-width: 768px) {
    .afc-text-slider.collapsed .afc-text-slider_content {
        height: 66px;
    }
}
/* 
* Timeline
*/
.afc-timeline {
    padding-top: 15px;
}
.afc-timeline h4 {
    line-height: 1;
    font-size: 16px;
}
.afc-timeline ul {
    list-style: none;
    padding-left: 0;
}
.afc-timeline ul li {
    overflow: hidden;
    position: relative;
    padding: 0 30px 15px 0;    
    border-right: 1px solid #eee;
    margin: 0;
}
.afc-timeline ul li:not(:last-child) p {
    margin-bottom: 30px;
}
.afc-timeline ul li:before {
    top: 8px;
    right: 0;
    width: 12px;
    height: 1px;
    content: "";
    position: absolute;
    background-color: #eee;
}
.afc-timeline ul li:after {
    top: 6px;
    right: 12px;
    width: 5px;
    height: 5px;
    content: "";
    border-radius: 50%;
    position: absolute;
    background-color: var(--primary);
}
/*
 * Sticky CTA
*/
.afc-sticky-cta {
    bottom: 0;
    z-index: 99;
    display: none;
    position: -webkit-sticky;
    position: sticky;
    font-size: 12px;
    padding-bottom: 7px;
    background-color: #fff;
    align-self: flex-start;
    box-shadow: 0 3px 6px 0 rgba(140, 152, 164, 0.25);
}
.afc-sticky-cta .afc-sticky-cta_inner {
    padding: 7px 0;
}
.afc-sticky-cta .afc-sticky-cta_inner p {
    top: 6px;
    white-space: nowrap;
    position: relative;
    margin: 0;
}
.afc-sticky-cta .afc-label.afc-label--primary {
    color: #ff004c !important;
}
@media (max-width: 992px) {
    .afc-sticky-cta { 
        display: block;
    }
}
/*
 * Reserve
*/
.afc-sticky-reserve {
    bottom: 0;
    width: 100%;
    height: 120px;
    display: none;
    z-index: 99999;
    position: -webkit-sticky;
    position: sticky;
    font-size: 12px;
    padding-top: 9px;
    align-self: flex-start;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(140, 152, 164, 0.25);
}
/* 
 * Reserve: Teacher
*/
.afc-sticky-reserve .afc-sticky-reserve_teacher {
    float: right;
    height: 55px;
    min-width: 220px;
    position: relative;
    padding-right: 55px;
}
.afc-sticky-reserve .afc-sticky-reserve_teacher p {
    color: #000;
    line-height: 1;
    margin-bottom: 15px;
}
.afc-sticky-reserve .afc-sticky-reserve_teacher img {
    top: 0;
    right: 0;
    width: 45;
    height: 45px;
    display: block;
    position: absolute;
    margin-bottom: 0;
}
/* 
 * Reserve: Links
*/
.afc-sticky-reserve .afc-sticky-reserve_links {
    user-select: none;
}
.afc-sticky-reserve .afc-sticky-reserve_links [data-chain-id] {
    text-align: left !important;
}
.afc-sticky-reserve .afc-sticky-reserve_links [data-chain-id]:not(.active) {
    display: none;
}
/* 
 * Reserve: Mobile
*/
.afc-sticky-reserve .afc-sticky-reserve_mobile {
    top: 0;
    left: 0;
    height: 45px;
    color: var(--secondary);
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
}
.afc-sticky-reserve .afc-sticky-reserve_mobile .afc-sticky-reserve_mobile_btn {
    overflow: hidden;
    position: relative;
    padding-left: 36px;
}
.afc-sticky-reserve .afc-sticky-reserve_mobile .afc-sticky-reserve_mobile_btn > span {
    top: 1px;
    bottom: 3px;
    display: block;
    position: relative;
    margin-bottom: 3px;
}
.afc-sticky-reserve .afc-sticky-reserve_mobile .afc-sticky-reserve_mobile_btn .afc-sticky-reserve_mobile_btn_count {
    font-size: 10px;
}
.afc-sticky-reserve .afc-sticky-reserve_mobile .afc-sticky-reserve_mobile_modal {
    top: 15px;
    left: 15px;
    right: 15px;
    max-width: 100%;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    margin: auto;
    padding: 15px;
    z-index: 9999999999;
}
.afc-sticky-reserve .afc-sticky-reserve_mobile .afc-sticky-reserve_mobile_modal > div {
    z-index: 1;
    padding: 20px;
    position: relative;
    border-radius: 12px;
    background-color: #fff;
    border: 3px solid orange;
    box-shadow: 0 3px 6px 0 rgba(140, 152, 164, 0.95) !important;
}
.afc-sticky-reserve .afc-sticky-reserve_mobile .afc-sticky-reserve_mobile_modal > div > p {
    font-size: 12px;
    display: inline-block;
}
.afc-sticky-reserve .afc-sticky-reserve_mobile .afc-sticky-reserve_mobile_modal > div > span {
    color: red;
    float: left;
    font-size: 12px;
}
.afc-sticky-reserve .afc-sticky-reserve_mobile .afc-sticky-reserve_mobile_modal .afc-sticky-reserve_mobile_modal_list {
    height: 270px;
    overflow-y: auto;
}
.afc-sticky-reserve .afc-sticky-reserve_mobile .afc-sticky-reserve_mobile_modal .afc-sticky-reserve_mobile_modal_list li {
    cursor: pointer;
    font-size: 10px;
    display: inline-block;
    position: relative;
    padding: 6px 15px;
    margin-left: 3px;
    margin-bottom: 6px;
    border-radius: 60px;
    background-color: #eee;
}
.afc-sticky-reserve .afc-sticky-reserve_mobile .afc-sticky-reserve_mobile_modal.active {
    opacity: 1;
    visibility: visible;
}
.afc-sticky-reserve .afc-sticky-reserve_mobile .afc-sticky-reserve_mobile_modal:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    content: "";
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
}
/* 
 * Reserve: Other
*/
.afc-sticky-reserve .afc-selected-times__close {
    top: 1px;
    position: relative;
    margin-left: 6px;
}
/* 
 * Reserve: stats active
*/
.afc-sticky-reserve.active {
    display: block !important;
}
@media (min-width: 1201px) {
    .afc-sticky-reserve {
        height: 66px !important;
        border-top: 2px solid var(--primary);
    }
    .afc-sticky-reserve .afc-sticky-reserve_mobile {
        position: relative;
        display: inline-block;
        padding-right: 15px;
        margin-right: 15px;
        border-right: 1px solid #eee;
    }
    .afc-sticky-reserve .afc-sticky-reserve_mobile .afc-sticky-reserve_mobile_modal {
        width: 1100px;
        max-width: 100% !important;
    }
}
@media (max-width: 1200px) {
    /* 
     * Reserve: Mobile
    */
    .afc-sticky-reserve .afc-sticky-reserve_mobile .afc-sticky-reserve_mobile_btn {
        padding-left: 6px;
    }
    /* 
     * Reserve: Links
    */
    .afc-sticky-reserve .afc-sticky-reserve_links [data-chain-id="1"] .button {
        width: 100%;
    }
    .afc-sticky-reserve .afc-sticky-reserve_links [data-chain-id="2"] .button {
        width: 48%;
        margin: 0;
        margin-right: 1%;
    }
    .afc-sticky-reserve .afc-sticky-reserve_links [data-chain-id="3"] .button {
        width: 100%;
    }
}
/* 
 * Fixed
*/
@media (min-width: 1200px) {
    [data-modal-id="modal-afc-stepper-calendar"] .modal-wrapper {
        top: calc(50% - 30px) !important;
    }
}